body {
    background-color: #c2ded1;
    font-family: 'nunito', sans-serif;
}

#navbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#navbar .nav-link {
    color: white;
}
#navbar .nav-link:hover{
    color: #354259;
}
#navbar .navbar-brand{
    font-size: 1.5rem;
    color: #354259;
}
#title-heading{
    font-size: 4rem;
    font-weight: 100;
}
.blurb h2{
    color: #354259;
    font-weight: 100;
    font-size: 2.5rem;
}
.blurb p{
    font-size: 1.125rem;
    font-weight: 100;
    color: #3f4e4f;
    line-height: 2;
}
.navbar.scrolled{
    background-color: #c2ded1;
    /*transition: background 500ms;*/
}
@media (max-width: 1200px){
    #title-heading{
        font-size: 3rem;
        font-weight: 100;
    }
}